<footer class="text-white mb-3">
    <div class="rodape d-flex justify-content-center">
    Copyright &copy; RMKRONOS 
    </div>
</footer>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</body>
</html>