<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<main>
    <div class="container">
        <!-- <h2>Todos os blogs</h2> -->
         <%- include(page) %>
    </div>
</main>    
<%- include('./partials/footer.ejs') %>
